EXPO_PUBLIC_API_BASE_URL=https://ardms.eduisync.io/
EXPO_PUBLIC_ML_API_BASE_URL=https://ml-image-classifier-1.onrender.com
# GEMINI API KEY
GEMINI_API_KEY=your_gemini_api_key_here
# OPEN AI API KEY
OPENAI_API_KEY=your_openai_api_key_here

# EXPO TOKEN
EXPO_TOKEN=your_expo_token_here